@page "/Security/RoleManage"
@using AntDesign.TableModels
@using FeMs.ACat.Pages.Security.Components
@using FeMs.Share
<div>
    <PageContainer Title="User Manage">
        <ChildContent>
 
                <Card Class="listCard" Title="Role list" Style="margin-top: 24px;" BodyStyle="padding: 0 32px 40px 32px">
                    <Extra>
                        <div class="extraContent">
                            <Search Class="extraContentSearch" Placeholder="Please Enter" @bind-Value="_model.SearchKeyword" />
                        </div>
                    </Extra>

                    <ChildContent>
                        <Button  Style="margin-right: 8px;" OnClick="ShowModal">
                            <Icon Type="plus" Theme="outline" />
                            Add
                        </Button>
                        <Button Type="primary" >
                            <Icon Type="edit" Theme="outline"/>
                            Edit
                        </Button>
                        <Button Style="margin-left:8px" Danger>
                            <Icon Type="minus" Theme="outline"/>
                            Delete
                        </Button>
                        <Table Style="margin-bottom: 24px;" DataSource="@_data" TItem="RoleDTO"
                        OnRowClick="RoleListClick" @bind-PageIndex="_pageIndex" @bind-PageSize="_pageSize" Total="_total" 
                        Loading="_loading" OnChange="HandleTableChange"
                        RemoteDataSource >
                              <AntDesign.Column Title="User Name" @bind-Field="@context.Name" />

                         </Table>
                    </ChildContent>
                </Card>

        </ChildContent>
    </PageContainer>
</div>

